/***************CLASSE GLOBAL***********/
body {
  font-family: "Montserrat", sans-serif;
}
.btn {
  background-color: rgb(124, 40, 99);
  padding: 10px;
  color: white;
}
.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}


/*****************************************
                  HEADER
*****************************************/
header {
  background-image: linear-gradient(
      to top right,
      rgba(124, 40, 99, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/fitness.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: white;
  padding: 20px 20px 0 20px;
}
nav img {
  width: 60px;
  height: 60px;
}
nav ul li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
}
header h1 {
  font-size: 90px;
  font-style: italic;
  font-weight: 900;
  margin: 0;
}
header h4 {
  font-size: 23px;
}
.title {
  text-align: center;
  padding-bottom: 250px;
  padding-top: 150px;
}
/************************************
        PHOTO SOUS HEADER
************************************/
.programme {
  display: flex;
  color: white;
  margin-top: -120px;
}
.programme div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 85px;
  padding-top: 85px;
}
.prog1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.337)),
    url("img/fitnessman.jpg");
  width: 50%;
  background-size: cover;
  background-position: center;
}
.prog2 {
  background-image: linear-gradient(
      rgba(124, 40, 99, 0.5),
      rgba(124, 40, 99, 0.5)
    ),
    url("img/fitnesswoman.jpg");
  width: 50%;
  background-size: cover;
  background-position: center;
}
/**************************************
        TEXTE SOUS PHOTO
**************************************/
.textesousprog {
  text-align: center;
  margin-top: 100px;
}
/**************************************
        QUATRE CARREES
**************************************/
.quatrecarree {
  display: flex;
  margin-top: 100px;
}
.quatrecarree img {
  width: 60px;
  height: 60px;
}
.quatrecarree div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(190, 179, 179);
  width: 25%;
  padding-bottom: 70px;
  padding-top: 70px;
}

.quatrecarree .uncarr {
  border-left: none;
}
.quatrecarree .quatrecarr {
  border-right: none;
}
/**************************************
        JE M'INSCRIS
**************************************/
.banniere {
  background-image: linear-gradient(
      to right,
      rgba(124, 40, 99, 0.5) 60%,
      rgb(0, 0, 0) 40%
    ),
    url("img/crossfit.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
}
.container .bouton {
  width: 40%;
}
.banniere .container {
  display: flex;
  
  justify-content: flex-end;
}
.banniere .container .bouton p,
.banniere .container .bouton a {
  margin-left: 140px;
}
.banniere .container .bouton p {
  padding-top: 30px;
  padding-bottom: 30px;
}
/**************************************
        SIX CARREES
**************************************/
.sixcarree {
  display: flex;
  flex-wrap: wrap;
}
.sixcarree img {
  width: 60px;
  height: 60px;
}
.sixcarree div {
  
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px 50px 100px;
  background-color  ;
}
.sixcarree div p {
  text-align: center;
}
.sixcarree div:nth-child(odd){
  background-color: rgb(218, 214, 214);
}

/**************************************
        MAP
**************************************/
iframe{
  width: 100%;
  
}
.map .bandeaumap{
  margin-top: -8px;
  height: 15px;
  background-color:  rgb(124, 40, 99);
}
/**************************************
        FOOTER
**************************************/
.footers{
  background-color: black;
  color: white;
  padding-bottom: 100px;
}
.footers .container{
  display: flex;  
}

.footers img{
  height: 50px;
  width: 50px;
}
.footers i{
  color:  rgb(124, 40, 99);
}
.footers .container .footergauche {
text-align: end;
padding: 20px 20px 0 0;
}
.footers .container .footergauche i{
  padding-left: 10px;
  font-size: 25px;
}

.footerdroit section h5{
  color: white;
  margin: 0;
  padding-left: 10px;
}
#logoadresse,#logotel,#logomail{
  display: flex;
  align-items: center;
  padding: 20px 0 20px 0;
  
}
.footers .container .footerdroit {
  padding: 0 0 0 20px;
}
.footers .container .footerdroit p{
  margin: 0;
  padding-left: 27px;
}
.footergauche{
  width: 30%;
  
}
.footerdroit{
  width: 30%;
 
}

.footerformulaire{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  margin-top: -100px;
  
}
input{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 50px 0 0 0;
}
input.btn{
  margin-top: 50px;
  margin-bottom: 50px;
}
/*************************************
            MEDIA
*************************************/

/*mobile*/

@media (max-width: 767px) {

  /****************BURGER**************/
  nav ul li{
    display: none;
  }
  label{
    font-size: 30px;
    color: white;
    margin-right: 30px;
  }

  /*******************NAV**************/
  
  nav{
    padding: 0;
    background-color: rgb(124, 40, 99);
  }
  nav img{
    height: 35px;
    width: 35px;
    margin-left: 20px;
  }
  /*******************HEADER**************/

  .container {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    padding: 0 ;
    
  }
  .title h1{
    font-size: 55px;
  }
  /**************PHOTO SOUS HEADER************/
  
  .programme{
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
  }
  .programme div{
    width: 100%;
  
  }
  .programme div p{
    font-size: 25px;
    margin: 0;
  }
  .programme div h3{
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  /**************TEXTE SOUS PHOTO************/
  .textesousprog{
    padding: 0 30px 0 30px;
  }
  /**************QUATRE CARREES************/
  .quatrecarree {
    display: flex;
    flex-wrap: wrap;
  }
  .quatrecarree div{
    width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
/**************JE M'INSCRIS************/
.banniere {
padding: 0;
background-image:none;
background-color: black;

}
.banniere .container {
  display: flex;
  justify-content: center;
}
.banniere .container .bouton p,h2{
  margin: 0;
}
.banniere .container .bouton a{
  margin: 0;
  text-align: center;
}
.banniere .container .bouton {
  margin: 60px 0  60px 0;
  width: 60%;
}
/**************SIX CARREES************/
.sixcarree div {
  width: 100%;
  text-align: center;
}
/**************FOOTER*********************/
.footers .container {
  flex-direction: column; 
}
.footers .container .footergauche{
  text-align: center;
}
.footergauche{
  text-align: center;
  padding-right: 0;
  width: 100%; 
  justify-content: center;
  margin-bottom: 40px;
}
.footergauche i{
  color: white;
  padding: 0 5px 0 5px;
}
.footerformulaire{
  margin-bottom: 40px;
  order: -1;
}
.footerdroit{
  width: 100%;
  
}
.footerdroit p{
  padding-left: 27px;
}
}

@media (min-width:767px){

  /****************BURGER****************/
  label{
    display: none;
  }
  
}
@media (min-width: 768px) and (max-width: 991px){ 
  
  .sixcarree div{
    width:calc(100% / 2);
    text-align: center;
  }
  .sixcarree div:nth-child(odd){
    background-color: white;
  }
  .sixcarree div:nth-of-type(2),
  .sixcarree div:nth-of-type(3),
  .sixcarree div:nth-of-type(6){
    background-color: rgb(218, 214, 214);
  }
 
  
}


